@import './leaflet.css';
@import './MarkerCluster.css';
@import './MarkerCluster.Default.css';
@import './Leaflet.Dialog.css';

html, body {
    width: 100%;
    margin: 0px;
}

body {
    background-color: #F3F3F3;
    background-color: white;
    font-family: Arial;
}

.wrap {
    width: 100%;
    margin: 0;
}
.left-panel {
    width: 200px;
    height: 100%;
    float: left;
    display: none;
}
#map {
    height: 100%;
}

.content {
    margin: auto;
    max-height: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
}

.header {
    text-align: center;
}

.leaflet-control-dialog {
    background-color: rgba(255,255,255, 0.7);
}
